<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Page</title>
</head>
<body>
    <h3>Search ISBN</h3>
    {% if isbn %}
    <table>
        <tr>
            <th>ISBN</th>
            {% for key, _ in prices.items()|sort %}
            <th> {{ key }} </th>
            {% endfor %}
        </tr>
        <tr>
            <td>{{ isbn }}</td>
            {% for _, value in prices.items()|sort %}
            <td> {{ value }} </td>
            {% endfor %}
        </tr>
    </table>
    {% endif %}
    <form action="/search">
        <input name="isbn">
        <input type="submit" value="Submit">
    </form>
</body>
</html>
